.catalog-container {
    border: 1px solid white;
    height: 100%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: clamp(10px, 1vw ,40px);
    margin:  auto;

    
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }
}