* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#stream {
  top: 0;
  left: 0;
  width: 500px;
  height: 281px;
  border: 1px solid black;
  object-fit: contain;
}


#canvas {
  display: none;
}

#photo {
  width: 500px;
  height: 281px;
  text-align: center;
  border: 1px solid black;
}

.stream-container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  margin: 1rem 1rem;
  padding: 1rem;
}